*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: #F3F0EC;
}

h2.first-head{
    font-size: 23px;
    margin: 18px 0px;
    text-align: center;

}

h3.second-head{
    font-size: 23px;
    text-align: center;
}

button.btn-cat{
    width: 80%;
    height: 50px;
    display: block;
    font-weight: 700;
    font-size: 19px;
    color: white;
    margin: 20px auto;
    border: none;
    outline: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#0EAED9,#3588F3);
    cursor: pointer
}

button.btn-cat:hover{
    background-image: linear-gradient(to right,#179FEA,#576EF0);
}

div.main-box{
    width: 85%;
    height: 800px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px grey;
    background-color: #FFFFFF;
    display: block;
    margin: auto;
}

p.meow{
    margin: 18px 23px;
    display: inline-block;
}

img.show-cat{
    width: 94%;
    margin: auto;
    display: block;
    height: 730px;
    display: none;
}


@media only screen and (min-width: 0px) and (max-width: 480px){
    h2.first-head{
        font-size: 23px;
        margin: 20px 0px;
    
    }

    h3.second-head{
        font-size: 19px;
        line-height: 29px;
    }

    button.btn-cat{
        width: 85%;
    }

    div.main-box{
        height: 400px;
    }

    img.show-cat{
        height: 82%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    h2.first-head{
        font-size: 24px;
    
    }

    h3.second-head{
        font-size: 21px;
        line-height: 30px;
    }

    button.btn-cat{
        width: 92%;
    }

    div.main-box{
        height: 550px;
    }

    img.show-cat{
        height: 87%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    h2.first-head{
        font-size: 30px;
    
    }
 
    h3.second-head{
        font-size: 22px;
        line-height: 32px;
    }

    button.btn-cat{
        width: 82%;
    } 

    div.main-box{
        width: 80%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    h2.first-head{
        font-size: 26px;
    
    }
 
     h3.second-head{
        font-size: 22px;
    }

    button.btn-cat{
        width: 70%;
    } 

    div.main-box{
        width: 70%;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1500px){
    h2.first-head{
        font-size: 27px;
    
    }
 
     h3.second-head{
        font-size: 23px;
    }

    button.btn-cat{
        width: 58%;
        font-size: 24px;
    } 

    div.main-box{
        width: 58%;
    }

    p.meow{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1501px) and (max-width: 1800px){
    h2.first-head{
        font-size: 29px;
    
    }
 
     h3.second-head{
        font-size: 27px;
    }

    button.btn-cat{
        width: 57%;
        height: 55px;
        font-size: 24px;
    } 

    div.main-box{
        width: 58%;
    }

    p.meow{
        font-size: 26px;
    }
}

